html
{
    margin: auto;
    text-align: center;
    width: 1200px;
}
body
{
    margin-left: 20px;
}
.phanthan
{
    margin-bottom: 50px;
}
hr
{
    border: 1px solid rgb(240, 12, 12);
}
.ds
{
    width: 1200px;
    display: inline-block;
    display: flex;
    flex-wrap: wrap; /*Tự căn theo chiều dài trang web*/
    justify-content: space-between; /*Khoảng cách giữa các thành phần luôn bằng nhau*/
    list-style: none; /*Bỏ dấu chấm đen trước các danh sách*/
    flex-basis: 650px;
    margin-top: 1px;
    margin-right: 10px;
    margin-left: -5px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 10px;
}
.tranh
{
    flex-basis: 25%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; /*Thiết lập tất cả chiều rộng, chiều cao của tất cả cả các ptu, bao gồm cả nội dung và viền*/
    margin-bottom: 40px;
    text-align: center;
}
img /*Thẻ này dùng sẽ trùng với nhiều hình ảnh khác nên sẽ thay đổi kích thước phần RUSTIC DECOR, PHONG CÁCH XƯA CŨ CỔ ĐIỂN trong html */
{
    max-width: 100%;
}
.img1
{
    transition: transform 0.3s ease;
    position: relative;
}
.img1 button 
{
    position: absolute;
    margin-top: -190px;
    width: 80px;
    height: 30px;
    margin-left: -35px;
    opacity: 0;
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    
}
.img1 button a
{
    text-decoration: none;
    color: white;
}
.img1:hover button
{
    opacity: 1;
    transition: 0.8s ease;
    
}
.img1:hover
{
    filter:brightness(80%);
    transition: 0.8s ease;
}
.anhtoi
{
    filter:brightness(100%); /* Giảm độ sáng của ảnh */
    position: relative;
    z-index: 0; /* Làm cho lớp ảnh ở phía dưới lớp chữ */
}
.thongtin
{
    text-align: left;
}

.anh{
    width: 150px;
}
.tieude
{
    display: flex;
    position: relative;
}
h1
{
    margin-top: 50px;
    text-align: center;
    position: absolute;
    width: 1170px;
}
.anh1{
    width: 200;
    margin-top: 35;
    margin-left: 900px;
    text-align: right;
}
.footer
{
 
    width: 1200px;
}
.phancuoi1
{
    display: flex;
    margin-left: 70px;
}
.phancuoi1_1
{
    list-style: none;
    text-align: left;
    margin-left: -30px;
}
.phancuoi1_1_1
{
    text-align: left;
    
    width: 250px;
    margin-left: -42px;
}
.phancuoi1_1_1_1
{
    width: 200px;
    margin-left: -52px;
    text-align: left;
    list-style: none;
}
.r  
{
    margin-bottom: 10px;
    margin-left: -63px;
    width: 200px;
    
    font-size: 20px;
}
.phancuoi1_2
{
    list-style: none;
    text-align: left;
}
.phancuoi1_2_1
{
    text-align: left;
    
    width: 250px;
    margin-left: 50px;
    margin-top: 0px;
}
.phancuoi1_2_1_1
{
    width: 200px;
    margin-left: -80px;
    text-align: left;
    list-style: none;
}
.p
{
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
    width: 200px;
    font-size: 20px;
}



.phancuoi1_3
{
    list-style: none;
    text-align: left;
}
.phancuoi1_3_1
{
    text-align: left;
    display: flex;
    width: 250px;
    margin-left: 0px;
    margin-top: 0px;
}
.phancuoi1_3_1_1
{
    width: 200px;
    margin-left: -60px;
    margin-top: 30px;
    text-align: left;
    list-style: none;
}
.d
{
    margin-top: 0px;
    margin-left: -30px;
    width: 200px;
    font-size: 20px;
}
.fb
{
    width: 45px;
    margin-bottom: 10px;
}
.tt
{
    width: 45px;
    margin-bottom: 10px;
}
.zl
{
    width: 45px;
}
.phancuoi1_11
{
    list-style: none;
    text-align: left;
    margin-top: 30px;
    margin-left: 80px;
    margin-left: 135px;
    margin-top: 0;
}
.e
{
    font-size: 20px;
}
.phancuoi1_11 ul{
    list-style: none;
    margin-left: -400px;
    margin-top: 10px;
}
.text-run 
{
    white-space: nowrap;
    display: inline-block;
    animation: moveText 17s linear infinite;
    font-size: 15px;
    color: #333;
}

@keyframes moveText 
{
    from 
    {
        transform: translateX(100%);
    }
    to 
    {
        transform: translateX(-150%);
    }
}

.wrapper 
{
    overflow: hidden;
    width: 100%;
    background: #f0f0f0;
    font-family: "Oswald", serif;
}












/* .phancuoi1_2
{
    list-style: none;
}
.phancuoi1_3
{
    list-style: none;
}
.phancuoi1_4
{
    list-style: none;
}
.phancuoi1_1_1
{
    list-style: none;
}
.phancuoi1_2_1
{
    list-style: none;
}
.phancuoi1_3_1
{
    list-style: none;
}
    */
.phancuoi1_4_1
{
    text-align: right;
} 
